@media (max-width: 830px) {
  .edit-bar-icons-subcontainer {
    display: none;
  }

  .register-icons-container {
    display: flex;
  }

  .edit-page .website-logo .logo {
    display: none;
  }

  .save-container {
    display: flex;
  }

  @media (max-width: 380px) {
    .register-icons-container {
      margin: 0;
      padding: 0;
    }

    .edit-bar-button {
      width: 40px;
    }
    
  }
}

@media (max-width: 1230px) {
  .lists-icons {
    display: none;
  }

  @media (max-width: 1084px) {
    .text-format-icons {
      display: none;
    }

    @media (max-width: 930px) {
      .text-format-icons {
        display: none;
      }

      @media (max-width: 930px) {
        .input-icons {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 980px) {
  .edit-page-container {
    flex-direction: column;
    height: 100%;
  }

  .editor-area {
    height: 100%;
  }

  .content-viewer {
    max-width: 100%;
    min-width: 100%;
    border: none;
  }
  .editor-container {
    min-height: 50%;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px solid var(--theme-highlight-color);
  }

  .highlight-line {
    margin-left: 4px;
  }

  .edit-bar-icons-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }

  #filename-input {
    width: 100%;
  }

  .website-logo img {
    width: 20px;
  }

  .dropdown {
    padding: 0 1px;
  }

  .edit-bar {
    padding: 6px;
  }
}
