.register-page {
  /* background-color: var(--palette-clr4); */
  display: flex;
  align-items: center;
  justify-content: center;  
}

.register-form-container {
  background-color: var(--palette-clr2);
  width: 400px;
  padding: 20px 20px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  /* border: 2px solid #3d4b51; */
  box-shadow: 0px 0px 20px #3d4b51;
  /* justify-content: center; */
}

.register-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}

.form-group {
  display:flex;
  width: 100%;
  flex-direction: column;
  background-color:whitesmoke;
  padding: 4px 12px;
  margin: 8px 0px;
  border-radius: 0.5em;
  transition: all 100ms ease;
}

input {
  border-radius: 4px;
  max-height: 40px;
  border: none;
  padding: 8px;
  margin: 8px 0;
  font-size: medium;
  font-family: var(--main-font);
  outline: none; /* Removes the default focus outline */
  width: 100%;
}


.register-button {
  background-color: whitesmoke;
  color: black;
  border-radius: 0.25em;
  width: 60%;
  max-height: 30px;
  padding: 0;
  margin: 10px;
  font-size: medium;
  align-self: center;
}

.register-button:hover {
  color: white;
  box-shadow: none;
  background-color: #3d4b51;
}

label {
  font-weight: bold;
  font-size: small;
  font-family: var(--main-font);
  color: #27272a;
}

.web_logo {
  display: flex;
  align-self: center;
  justify-self: center;
}

.register-options {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-size: small;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

a:hover {
  text-decoration: underline;
}

.form-group:focus-within {
  box-shadow: none;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.554);
}

.form-error-msg {
  color: rgb(255, 238, 0);
  max-width: 400px;
  text-wrap: wrap;
  word-wrap: break-word;
  align-self: flex-start;
}

.show-password-icon {
  width: 28px;
  height: 28px;
  padding: 4px;
  margin-right: 8px;
  border-radius: 50%;
  background-color: white;
}

.password-container {
  display: flex;
  align-items: center;
}

.show-password-icon:hover {
  background-color: var(--theme-highlight-color);
  cursor: pointer;
}

.email-sent-container {
  margin: 12px;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: gainsboro;
  border-radius: 0.5rem;
  flex-direction: column;
  max-width: 360px;
  text-align: center;
}

.link-button {
  background: none;
  color: black;
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  margin: 0;
}

.link-button:hover {
  color: black;
  background-color: transparent;
}

.register-options form, .register-options {
  margin: 0;
  padding: 0;
  height: fit-content;
}