.img-container {
  display: grid;
  /* width: 100%; */
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.15fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
}

.grid-item {
  border-radius: var(--border-radius);
  background-color: var(--palette-clr3);
  display: flex;
}

.top-bar {
  display: flex;
  background-color: transparent;
}

.top-bar .left {
  position: relative;
  background-color: var(--palette-clr4);
  width: 20%;
  height: 100%;
}

.top-bar .right {
  width: 80%;
  height: 100%;
  position: relative;
  /* background-color: var(--palette-clr3); */
  background-image: url("/assets/computer.jpg");
  background-position: top;
  align-self: flex-end;
  border-end-start-radius: 0;
}

.bottom-bar {
  border-start-start-radius: 0;
}

.top-bar .grid-item.right::before {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--border-radius));
  left: calc(-1 * var(--border-radius));
  width: calc(2 * var(--border-radius));
  height: calc(2 * var(--border-radius));
  /* background-color: var(--palette-clr3); */
  background-color: black;
  background-image: url("/assets/computer.jpg");
  border-radius: 50%;
}

.slide-imgs {
  max-width: 100%;
  align-self: center;
  object-fit: cover;
}

.grid-item.bottom-bar {
  background-image: url("/assets/computer.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}