.edit-page-container {
  min-height: 96vh;
  max-height: 96vh;
  width: 100%;
  background-color: white;
  display: flex;
  z-index: 1;
}

.lines-numbers-container {
  width: 40px;
  min-height: 100%;
  max-height: 100%;
  padding: 8px 0;
  user-select: none;
  line-height: var(--line-height);
  overflow-y: hidden;
  color: rgb(91, 91, 91);
}

.editor-area {
  max-width: 48%;
  min-width: 48%;
  max-height: 100%;
  word-wrap: break-word;
  /* position: relative; */
  padding: 16px 12px;
  font-size: large;
  /* white-space: pre-wrap; */
}

.editor {
  line-height: var(--line-height);
  overflow-y: auto;
  outline: none;
}

.highlight-line {
  border-radius: 2px;
  border: 1px dashed rgba(141, 141, 141, 0.7);
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding: 0 var(--line-padding);
}

.lines-numbers-container {
  padding: 16px 12px;
}

.line-number {
  display: flex;
  justify-content: center;
}

.line-number.highlighted-number {
  color: crimson;
}

.editor-area::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.editor-area::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

.editor-area::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid var(--scrollbar-track-color); /* creates padding around scroll thumb */
}
