.edit-bar {
  position: relative;
  width: 100%;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 12px;
  z-index: 2;
  background-color: white;
  box-shadow: 0px 0px 2px var(--hover-color);
  min-height: 4vh;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 8px;
  border-radius: 4px;
  font-size: small;
  cursor: pointer;
}

.edit-bar-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* make it perfect center in it's parent*/
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
}

.edit-bar-icon img, object {
  width: 32px;
  padding: 8px;
  margin: 2px 8px;
  border-radius: 4px;
}

.edit-bar-icon {
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.edit-bar-icon:hover {
  background-color: var(--highlight-color);
}

.edit-bar-icons-subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dotted var(--highlight-color);
  margin: 4px;
  border-radius: 0.25em;
  position: relative;
}

.edit-bar-icons-subcontainer.no-border {
  border: none;
}

.edit-bar button {
  background-color: transparent;
  border: 2px solid black;
  border-radius: 0.25em;
  height: fit-content;
  color: black;
  font-size: medium;
  margin: 0 4px;
  transition: background-color ease;
  padding-top: 4px;
  padding-bottom: 4px;
}

.edit-bar button:hover {
  background-color: var(--highlight-color);
}

.list-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  height: fit-content;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0px 0px 8px lightgray;
  transition: all 100ms ease;
}

.edit-bar-icon:hover .tooltip:not(.open) {
  visibility: visible;
  opacity: 1;
}

.tooltip.open {
  visibility: hidden;
}

.website-logo {
  display: flex;
  align-items: center;
}
.website-logo img {
  width: 38px;
}

.register-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.dropdown-icon {
  display: flex;
  transition: all 500ms ease;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 3.8em;
  right: 50%;
  transform: translateX(25%);
  min-width: 200%;
  width: max-content;
  visibility: hidden;
  border: 1px solid lightgray;
  /* box-shadow: 0px 0px 8px lightgray; */
  border-radius: 0.25em;
  background-color: white;
  padding: 4px;
}

.dropdown-menu li {
  border-radius: 0.25em;
  padding: 2px 4px;
  font-size: small;
  transition: background-color 100ms ease;
}

.dropdown-menu li:hover {
  background-color: var(--highlight-color);
}

.open {
  visibility: visible;
}

.rotate180 {
  transform: rotateZ(180deg);
}

.hoverBkg {
  background-color: rgba(211, 211, 211, 0.5);
}

.rectangle {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 2px;
  border: 1px solid black;
  /* outline: 2px solid white; */
}

.colors-menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  grid-template-rows: repeat(2, auto); /* 2 rows with automatic height */
  min-width: fit-content;
  right: auto;
  transform: none;
}

.rectangle:hover {
  transform: scale(1.2);
  border: 1px dashed white;
}

.svg-object {
  pointer-events: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}