.edit-page-container {
  min-height: 95vh;
  max-height: 95vh;
  width: 100%;
  background-color: white;
  padding: 0px 12px 0px 12px; /* edit-bar height*/
  display: flex;
  z-index: 1;
}

.lines-numbers-container {
  width: 40px;
  min-height: 100%;
  max-height: 100%;
  background-color: antiquewhite;
  padding: 12px 0;
  user-select: none;
  line-height: var(--line-height);
  overflow-y: hidden;
}

.editor-area {
  max-width: 48%;
  min-width: 48%;
  max-height: 100%;
  word-wrap: break-word;
  /* position: relative; */
  padding: 16px 12px;
  font-family: "Amiri";
  /* white-space: pre-wrap; */
}

.editor {
  line-height: var(--line-height);
  overflow-y: auto;
  outline: none;
}

.content-viewer {
  border-right: 1px solid lightgray;
  overflow-y: hidden;
  line-height: var(--line-height);
}

.highlight-line {
  border-radius: 2px;
  border: 1px dashed rgba(141, 141, 141, 0.7);
  position: absolute;
  pointer-events: none;
  width: 100%;
  padding: 0 var(--line-padding);
}

.lines-numbers-container {
  padding: 16px 12px;
}

.line-number {
  display: flex;
  justify-content: center;
}

.line-number.highlighted-number {
  color: crimson;
}

.editor::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

.editor::-webkit-scrollbar-track {
  background: white;
}

.editor::-webkit-scrollbar-thumb {
  background-color: gray; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}
