.edit-bar {
  position: relative;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 0 8px;
  border-radius: 4px;
  font-size: small;
  cursor: pointer;
}

.dropdown:hover {
  background-color: lightgray;
}

.edit-bar-icons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* make it perfect center in it's parent*/
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.edit-bar-icon img {
  width: 32px;
  padding: 8px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-bar-icon {
  border-radius: 4px;
  position: relative;
}

.edit-bar-icon:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.edit-bar-icons-subcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 6px;
  border-right: 2px solid lightgray;
  height: 30px;
}

.edit-bar-icons-subcontainer.no-border {
  border: none;
}

.edit-bar button {
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 0.25em;
  height: fit-content;
  color: black;
  font-size: medium;
  margin: 0 4px;
  transition: background-color ease;
}

.edit-bar button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tooltip {
  visibility: hidden;
  width: 80px;
  height: fit-content;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 4px;
  padding: 1px 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -40px;
  opacity: 0;
  font-size: 12px;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 1px 1px 8px lightgray;
  transition: all 100ms ease;
}

.edit-bar-icon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.website-logo {
  display: flex;
  align-items: center;
}
.website-logo img {
  width: 38px;
}

.register-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
