.content-viewer {
  border-right: 1px solid lightgray;
  overflow-y: auto;
  line-height: var(--line-height);
  padding-left: 0px;
  min-width: 50%;
}

.content-viewer h1, h2, h3, h4, h5, h6 {
  margin-top: 16px;
  margin-bottom: 8px;
}

.content-viewer li {
  margin: 0px 36px;
}

.content-viewer img {
  width: 100%;
}
