@media (max-width: 500px) {
  .edit-bar-icons-subcontainer {
    display: none;
  }

  .register-icons-container {
    display: flex;
  }

  .website-logo .logo {
    display: none;
  }
}

@media (max-width: 980px) {
  .edit-page-container {
    flex-direction: column;
    height: 100%;
  }

  .editor-area {
    height: 100%;
  }

  .content-viewer {
    max-width: 100%;
    min-width: 100%;
  }
  .editor-container {
    min-height: 50%;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 1px solid var(--theme-highlight-color);
  }

  .highlight-line {
    margin-left: 4px;
  }

  .edit-bar-icons-container {
    overflow-x: scroll;
    justify-content: flex-start;
  }
  .edit-bar-icons-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
}
