.white-bkg {
  background-color: white;
}

.radius-5rem {
  border-radius: 0.5rem;
}

.width80 {
  width: 80px !important;
}

.width40px {
  width: 40px !important;
}

.height80 {
  height: 80px !important;
}

.width20 {
  width: 20px;
}

.margin8px{
  margin: 8px !important;
}

.margin16px{
  margin: 16px !important;
}

.padding8px {
  padding: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.border-top {
  border-top: 1px solid var(--theme-highlight-color);
  border-radius: 0;
  margin-top: 4px;
}

.border-bottom {
  border-bottom: 1px solid var(--theme-highlight-color);
  margin-bottom: 4px;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.unset-bkg {
  background-color: unset;
}

.rotate90 {
  transform: rotateZ(90deg);
}

.max-height200 {
  max-height: 200px !important;
}

.max-height36vh {
  max-height: 36vh !important;
}

.space-between {
  justify-content: space-between !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.height100 {
  height: 100%;
}

.error {
  background-color: indianred !important;
  transition: background-color 0.5s;
}

.correct {
  font-weight: bold;
  text-align: center;
  background-color: mediumaquamarine !important;
  font-size: small;
}

.center {
  align-self: center;
}

.flexO {
  display: flex;
}

.align-center {
  align-items: center !important;
}