@media (max-width: 945px) {
  .header1 {
    min-width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .box-container {
    display: flex;
    flex-direction: column;
  }

  .box-item1 {
    max-height: fit-content;
    flex-direction: column;
  }

  .box-item1 img{
    max-width: 40%;
  }

  .box-item1 .width120per {
    width: auto;
  }

  .slide {
    height: auto !important;
  }

  .nav-bar {
    align-items: flex-start;
    margin-bottom: 20px;
  }

  .home button {
    font-size: 80%;
    padding: 0 4px;
  }
  
  .code-text {
    font-size: small !important;
  }

  #slide1 {
    min-height: fit-content;
  }

  @media (max-width: 620px) {
    #slide1 {
      display: flex;
      flex-direction: column;
      min-height: fit-content;
    }

    .top-bar {
      height: 0;
    }

    .top-bar button {
      display: none;
      margin-bottom: 8px;
    }

    .form-show {
      display: block;
    }

    .form-show button {
      width: 100px;
    }

    .slide1-left-column {
      height: 300px;
    }

    .bottom-bar {
      border-radius: var(--border-radius);
      margin-top: 16px;
    }
    
    .grid-item.bottom-bar {
      background-image: url("/assets/computer.png");
      
    }
    .top-bar .grid-item.left {
      display: none;
    }
    .top-bar .grid-item.right::before {
      display: none;
    }

    .slide1-right-column {
      padding-left: 0;
    }
    .code-text {
      display: none;
    }
  
  }
}