.white-bkg {
  background-color: white;
}

.radius-5rem {
  border-radius: 0.5rem;
}

.width80 {
  width: 80px;
}

.width20 {
  width: 20px;
}

.margin8px{
  margin: 8px;
}

.padding8px {
  padding: 8px;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.border-top {
  border-top: 1px solid var(--theme-highlight-color);
  border-radius: 0;
  margin-top: 4px;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.unset-bkg {
  background-color: unset;
}

.rotate90 {
  transform: rotateZ(90deg);
}

.max-height200 {
  max-height: 200px !important;
}

.max-height36vh {
  max-height: 36vh !important;
}

.space-between {
  justify-content: space-between !important;
}