.register-page {
  /* background-color: var(--palette-clr4); */
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.register-form {
  background-color: var(--palette-clr2);
  min-width: 400px;
  padding: 20px 20px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  border: 2px solid #3d4b51;
  box-shadow: 2px 2px #3d4b51;
  /* justify-content: center; */
}

.form-group {
  display:flex;
  min-width: 80%;
  flex-direction: column;
  background-color:whitesmoke;
  padding: 4px 12px;
  margin: 16px 4px;
  border-radius: 0.5em;
  box-shadow: 4px 4px #3d4b51;
  border: 2px solid #3d4b51;
  /* border: 2px solid black; */
  /* box-shadow: 4px 4px 0 var(--palette-clr2); */
}

input {
  border-radius: 4px;
  max-height: 40px;
  border: none;
  padding: 8px;
  margin: 8px 0;
  font-size: medium;
  font-family: var(--main-font);
  outline: none; /* Removes the default focus outline */
}


.register-button {
  background-color: whitesmoke;
  box-shadow: 2px 2px 0 #3d4b51;
  color: black;
  border: 2px solid #3d4b51;
  border-radius: 0.5em;
  width: 60%;
  max-height: 50px;
  padding: 0;
  margin: 0;
  align-self: center;
}

.register-button:hover {
  color: white;
  box-shadow: none;
  background-color: #3d4b51;
}

label {
  font-weight: bold;
  font-family: var(--main-font);
  color: #27272a;
}

.web_logo {
  display: flex;
  align-self: center;
  justify-self: center;
}

.register-options {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  font-size: small;
  color: white;
  font-weight: bold;
}

a {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the color from the parent element */
}

a:hover {
  text-decoration: underline;
}

.form-group:focus-within {
  box-shadow: none;
  transform: translate(2px, 2px);
}
